.PageNotFound {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.PageNotFound > svg {
  font-size: 4vmax;
  color: maroon;
  z-index: 2;
}
.PageNotFound > p {
  font-size: 2vmax;
  margin-bottom: -50px;
  z-index: 2;
}

.PageNotFound > img {
  margin: 0;
  height: 100%;
  width: 70%;
}

.PageNotFound > a {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .PageNotFound > a {
    padding: 1vw 4vw;
    font: 400 4vw "Roboto";
    margin: 0;
  }

  .PageNotFound > svg {
    font-size: 5vw;
    z-index: 2;
  }

  .PageNotFound > img {
    height: 100%;
    width: 100%;
  }

  .PageNotFound > p {
    font-size: 4vw;
    margin-bottom: -50px;
    z-index: 2;
  }
}
